<!DOCTYPE HTML>
<html lang="zxx">

<head>
    <title>Post title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Post title" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom CSS -->
    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- side nav css file -->
    <link href='/css/SidebarNav.min.css' media='all' rel='stylesheet' type='text/css' />
    <!-- //side nav css file -->
    <link href="/css/blog.css" rel='stylesheet' type='text/css' />
    <!-- font-awesome icons -->
    <link href="/css/fontawesome-all.min.css" rel="stylesheet">
    <!--webfonts-->
    <!-- <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i"
        rel="stylesheet"> -->
</head>

<body>
    <!-- banner -->
    <div class="w3l-hear-top">
        <!-- header -->
        <header>
            <!-- logo -->
            <div class="logo">
                <h1>
                    <a href="/index.html" class="text-center">
                        WhatIf - Rwanda <span class="d-block">Blog</span>
                    </a>
                </h1>
            </div>
            <!-- //logo -->
            <!-- search -->
            <div class="w3ls_search">
                <div class="cd-main-header">
                    <ul class="cd-header-buttons">
                        <li>
                            <a class="cd-search-trigger" href="#cd-search">
                                <span></span>
                            </a>
                        </li>
                    </ul>
                    <!-- cd-header-buttons -->
                </div>
                <div id="cd-search" class="cd-search">
                    <form action="#" method="post">
                        <input name="Search" type="search" placeholder="search site" />
                    </form>
                </div>
            </div>
            <div class="clearfix"></div>
            <!-- //search -->
        </header>
        <!-- //header -->
        <!-- banner-slider -->
        <div class="diagonal-header">
            <section class="diagonal-stripe-one inner-bg">
                <div class="container">
                    <div class="ml-md-5 pl-md-5"></div>
                </div>
            </section>
        </div>
        <!-- banner-slider -->
    </div>
    <!-- //banner -->
    <!-- breadcrumbs -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item "><a href="/posts">Blog</a></li>
            <li class="breadcrumb-item active">Post</li>
        </ol>
    </nav>
    <!-- //breadcrumbs -->
    <!-- single -->
    
    <div class="single-w3l py-5">
        <div class="container py-xl-5 py-lg-3">
            <div class="row inner_sec_info pt-md-4">
                <!-- left side -->
                <div class="col-lg-8 single-left">
                    <div class="single-left1">
                        <img src="/images/blog.jpg" alt=" " class="img-fluid" />
                        <h6 class="blog-first text-dark my-4">
                            <i class="far fa-user mr-2"></i>Admin
                        </h6>
                        <ul class="blog_list my-3">
                            <li><%= new Date(JSON.parse(post).createdAt).toDateString()%></li>
                            <li class="mx-3">
                                <a href="#">
                                    <i class="far fa-heart mr-1"></i>
                                    22</a>
                            </li>
                            <!-- <li>
                                <a href="#">
                                    <i class="far fa-comments mr-1"></i>
                                    16</a>
                            </li> -->
                        </ul>
                        <h5 class="card-title">
                            <h2 class="post-title">
                                <%= JSON.parse(post).title%>
                            </h2>
                        </h5>
                        <p>In consectetur, elit in scelerisque malesuada, tellus leo viverra massa, nec malesuada
                            turpis lectus
                            ac urna. Suspendisse ut neque orci. Phasellus tellus diam, pulvinar sit amet elit sit amet,
                            fermentum
                            viverra eros. Praesent neque purus, rhoncus nec nibh non, mollis sodales odio. Nullam
                            facilisis
                            diam non magna porta luctus. Aenean facilisis erat posuere erat ornare ultrices. Aliquam ac
                            arcu
                            interdum, dapibus nibh convallis, semper augue.
                            <i class="my-3 font-weight-bold">Nunc a urna turpis. Aenean vestibulum elementum nisi.
                                Aenean aliquet nec mi et lacinia. Aliquam
                                maximus iaculis mi elit in scelerisque malesuada, tellus leo viverra massa, sed
                                efficitur
                                orci efficitur nec.</i> In consectetur, elit in scelerisque malesuada, tellus leo
                            viverra
                            massa, nec malesuada turpis lectus ac urna. Suspendisse ut neque orci. Phasellus tellus
                            diam,
                            pulvinar sit amet elit sit amet, fermentum viverra eros. Praesent neque purus, rhoncus nec
                            nibh
                            non, mollis sodales odio.</p>

                        <p>In consectetur, elit in scelerisque malesuada, tellus leo viverra massa, nec malesuada
                            turpis lectus
                            ac urna. Suspendisse ut neque orci. Phasellus tellus diam, pulvinar sit amet elit sit amet,
                            fermentum
                            viverra eros. Praesent neque purus, rhoncus nec nibh non, mollis sodales odio. Nullam
                            facilisis
                            diam non magna porta luctus. Aenean facilisis erat posuere erat ornare ultrices. Aliquam ac
                            arcu
                            interdum, dapibus nibh convallis, semper augue.
                            <i class="my-3 font-weight-bold">Nunc a urna turpis. Aenean vestibulum elementum nisi.
                                Aenean aliquet nec mi et lacinia. Aliquam
                                maximus iaculis mi elit in scelerisque malesuada, tellus leo viverra massa, sed
                                efficitur
                                orci efficitur nec.</i> In consectetur, elit in scelerisque malesuada, tellus leo
                            viverra
                            massa, nec malesuada turpis lectus ac urna. Suspendisse ut neque orci. Phasellus tellus
                            diam,
                            pulvinar sit amet elit sit amet, fermentum viverra eros. Praesent neque purus, rhoncus nec
                            nibh
                            non, mollis sodales odio.</p>
                    </div>
                    <div class="admin p-4 my-4">
                        <p>
                            <i class="fas fa-quote-left mr-2"></i>nibh eu consequat magna ipsum ac ex. Nulla iaculis
                            tincidunt elit, tortor luctus sit amet.
                            Morbi in porta dolor. Morbi eget dui elit. consequat magna ipsum ac ex, Nulla iaculis
                            consequat
                            magna ipsum ac ex Nulla iaculis.
                            <i class="fas fa-quote-right ml-2"></i>
                        </p>
                        <a href="#" class="mt-3 font-weight-bold text-right blockquote-footer">James Doe</a>
                    </div>
                    
                    <!-- <div class="leave-coment-form">
                        <h3 class="blog-title  mb-4">Leave a Private Message</h3>
                        <form action="#" method="post">
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <input type="text" name="Name" class="form-control" placeholder="Name" required="">
                                </div>
                                <div class="col-sm-6 form-group">
                                    <input type="email" name="Email" class="form-control" placeholder="Email" required="">
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea name="Message" class="form-control" placeholder="Your comment here..."
                                    required=""></textarea>
                            </div>
                            <div class="mm_single_submit">
                                <input type="submit" value="Post Comment">
                            </div>
                        </form>
                    </div> -->
                </div>
                <!-- //left side -->
                <!-- right side -->
                <div class="col-lg-4 event-right mt-lg-0 mt-sm-5 mt-4">
                    <div class="event-right1">
                        <div class="search1">
                            <form class="form-inline" action="#" method="post">
                                <input class="form-control rounded-0 mr-sm-2" type="search" placeholder="Search Here"
                                    aria-label="Search" required>
                                <input class="btn bg-dark text-white rounded-0 mt-3 w-100" type="submit" value="Search">
                            </form>
                        </div>
                        <div class="categories my-4 p-4 border">
                            <h3 class="blog-title ">Related Articles</h3>
                            <ul>
                                <li class="mt-3">
                                    <i class="fas fa-check mr-2"></i>
                                    <a href="#">At vero eos et accusamus iusto</a>
                                </li>
                                <li class="mt-3">
                                    <i class="fas fa-check mr-2"></i>
                                    <a href="#">Sed ut perspiciatis unde omnis</a>
                                </li>
                                <li class="mt-3">
                                    <i class="fas fa-check mr-2"></i>
                                    <a href="#">Accusantium doloremque lauda</a>
                                </li>
                                <li class="mt-3">
                                    <i class="fas fa-check mr-2"></i>
                                    <a href="#">Vel illum qui dolorem fugiat quo</a>
                                </li>
                                <li class="mt-3">
                                    <i class="fas fa-check mr-2"></i>
                                    <a href="#">Quis autem vel eum repreh</a>
                                </li>
                                <li class="mt-3">
                                    <i class="fas fa-check mr-2"></i>
                                    <a href="#">Neque porro quisquam est qui</a>
                                </li>
                            </ul>
                        </div>
                        <div class="posts p-4 border">
                            <h3 class="blog-title ">Our Events</h3>
                            <div class="posts-grids">
                                <div class="row posts-grid mt-4">
                                    <div class="col-lg-8 col-md-7 col-8 posts-grid-right mt-lg-0 mt-md-5 mt-sm-4">
                                        <h4>
                                            <a href="#"l" class="text-dark">Sed ut perspiciatis unde omni</a>
                                        </h4>
                                        <ul class="wthree_blog_events_list mt-2">
                                            <li class="mr-2 text-dark">
                                                <i class="fa fa-calendar mr-2" aria-hidden="true"></i>15/05/18</li>
                                            <li>
                                                <i class="fa fa-user" aria-hidden="true"></i>
                                                <a href="#" class="text-dark ml-2">Admin</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row posts-grid mt-4">
                                    <div class="col-lg-8 col-md-7 col-8 posts-grid-right mt-lg-0 mt-md-5 mt-sm-4">
                                        <h4>
                                            <a href="#" class="text-dark">Sed ut perspiciatis unde omni</a>
                                        </h4>
                                        <ul class="wthree_blog_events_list mt-2">
                                            <li class="mr-2 text-dark">
                                                <i class="fa fa-calendar mr-2" aria-hidden="true"></i>23/05/18</li>
                                            <li>
                                                <i class="fa fa-user" aria-hidden="true"></i>
                                                <a href="#" class="text-dark ml-2">Admin</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row posts-grid mt-4">
                                    <div class="col-lg-8 col-md-7 col-8 posts-grid-right mt-lg-0 mt-md-5 mt-sm-4">
                                        <h4>
                                            <a href="#" class="text-dark">Sed ut perspiciatis unde omni</a>
                                        </h4>
                                        <ul class="wthree_blog_events_list mt-2">
                                            <li class="mr-2 text-dark">
                                                <i class="fa fa-calendar mr-2" aria-hidden="true"></i>13/06/18</li>
                                            <li>
                                                <i class="fa fa-user" aria-hidden="true"></i>
                                                <a href="#" class="text-dark ml-2">Admin</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <aside class="side-bar my-4">
                        <!-- Tab panes -->
                        <div class="video-sec bc_sub">
                            <h4>Featured Video</h4>
                            <div class="video-block">
                                <div class="embed-responsive embed-responsive-4by3">
                                    <iframe width="460" height="250" src="https://www.youtube.com/embed/aI-QmC5asnA"
                                        allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <div class="tags mt-4 p-4 border">
                        <div class="footerv2-w3ls">
                            <h3 class="blog-title">Share</h3>
                            <ul class="social-iconsv2 agileinfo pt-3">
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- //right side -->
            </div>
        </div>
    </div>
    <!-- //single -->
    <!-- footer -->
    <footer class="py-5">
        <div class="container">
            <div class="agileinfo-grids">
                <div class="agile-grid-left agile-grid-right text-center">
                    <div class="social mb-4">
                        <ul>
                            <li>
                                <a href="#"><i class="fab mr-2 fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab mr-2 fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab mr-2 fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="copyright text-center">
                <p>
                    © 2018 WhatIf Rwanda. All Rights Reserved | Design by
                    <a href="#">Luc Abayo</a>
                </p>
            </div>
        </div>
    </footer>
    <!-- //footer -->
    <!-- //footer -->
    <!-- js-->
    <script src="js/jquery-2.1.4.min.js"></script>
    <!-- menu -->
    <script src="js/menu.js"></script>
    <!-- //menu -->
    <!-- side nav js -->
    <!-- //side nav js -->
    <!-- search-bar -->
    <script src="js/main.js"></script>
    <!-- //search-bar-->
    <!-- move-top -->
    <script src="js/move-top.js"></script>
    <!-- easing -->
    <script src="js/easing.js"></script>
    <!--  necessary snippets for few javascript files -->
    <script src="js/SmoothScroll.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.js "></script>
</body>

</html>